<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MY SONGS</title>
    <link rel="stylesheet" href="css/common/bootstrap.min.css">
    <link rel="stylesheet" href="css/common/font-awesome.min.css">
    <link rel="stylesheet" href="css/common/common.css">
    <link rel="stylesheet" href="css/mass_registration/nav-wizard.bootstrap.css">
    <link rel="stylesheet" href="css/search_results/search_results.css">
    <link rel="stylesheet" href="css/my_songs/my_songs.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/camera.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/jquery.fullwidthAudioPlayer.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/jquery.fullwidthAudioPlayer-responsive.css" media="screen">
    <link rel="stylesheet" href="css/skin/scheme1.css" type="text/css">
    <link rel="stylesheet" href="css/mass_registration/mas_register.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div class="song">
        <%- include ../menu/nor_header.ejs %>
    </div>
    <div class="home_content">
        <div class="center_home">
            <div class="left_content col-md-10 col-sm-9">
                <div class="wrap_content" id="tab-content">
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active search_results">
                            <h3>Registration</h3>
                            <p><strong>Batch ID:</strong> <%=merkle.batchId%> </p>
                            <p><strong>Account ID:</strong> <%=merkle.ownerPublicKey%></p>
                            <p><strong>Account Name:</strong> <%=merkle.userRefer.userFullName%></p>
                            <p><strong>Register Date:</strong> <%=merkle.dateRegistration%></p>
                            <%if(merkle.merkleRoot){%>
                                <p><strong>Merkle root:</strong> <%=merkle.merkleRoot%></p>
                            <%}%>
                            <div class="clear"></div>
                            <hr/>
                            <div class="info">
                                <div class="form-group ">
                                    <form method="GET" action="/admin-mass-migration-detail?id=<%=merkle.merkleRoot%>">
                                        <input type="text" style="display: inline; width:72%;" name="key" value="<%=key%>" id="key" class="form-control enter" tabindex="0" placeholder="Song title, Artist name, Song hash" >
                                        <input type="submit" value ="Display" name="" class="btn_mass_migration" style="margin-left: 20px; height: 35px"></input>
                                        <a href="/export-csv?merkle_root=<%=merkle.merkleRoot%>" class="btn_mass_migration" style=" padding: 10px; margin-left: 20px; height: 35px; width:150px">Print Out</a>
                                    </form>
                              </div>
                            </div>
                            <div class="table-responsive" id="table_search">
                                <table class="table table-curved">
                                    <tr>
                                        <td></td>
                                        <td id="song_title">
                                            <p>Song Title</p>
                                        </td>
                                        <td>
                                            <p>Artist Name</p>
                                        </td>
                                        <td><i class="fa fa-clock-o" aria-hidden="true"></i></td>
                                        <td>
                                            <p>Publish Date</p>
                                        </td>
                                        <td>
                                            <p>Song Hash</p>
                                        </td>
                                        <td>
                                            <p>Verification</p>
                                        </td>
                                    </tr>
                                    <%
					    		 	var i=0;
					    		 	songs.forEach(function(song){
					    		 		i++;
					    		 	%>
                                        <tr>
                                            <td>
                                                <a class="skin-font-color13 skin-color-hover1 fap-single-track" href="<%=song.songUrl%>" title="<%=song.songTitle%> (<%=song.songArtistRefer != undefined ? song.songArtistRefer.artistProfessionName : 'Unknow'%>)" data-meta="#fap-meta-track1" <%if(song.songArtistRefer && song.songArtistRefer.artistsPictures) {%>
					    					  meta="<%=song.songArtistRefer.artistProfessionName%>"
											 rel="<%=song.songArtistRefer.artistsPictures%>"
					    					<%}%> >
					    					<img src="images/Search_Results_09.png" alt="">
						    				</a>
                                            </td>
                                            <td>
                                                <p>
                                                    <%=song.songTitle%>
                                                </p>
                                            </td>
                                            <%if (song.songArtistRefer){%>
                                            <td style="min-width: 150px;">
                                                <p>
                                                    <%=song.songArtistRefer.artistProfessionName%>
                                                </p>
                                                <h6><%=song.songArtistRefer.artistType%></h6>
                                            </td>
                                            <%}else{%>
                                            <td style="min-width: 150px;">
                                                <p>Unknow</p>
                                                <h6>Unknown</h6>
                                            </td>
                                            <%}%>
                                            <td style="min-width: 75px;">
                                                <%=song.songDuration%>
                                            </td>
                                            <td style="min-width: 75px;">
                                                <%=song.songPublish%>
                                            </td>
                                            <%if (song.songHash){%>
                                            <td>
                                                <p><%=song.songHash%></p>
                                            </td>
                                            <%}else{%>
                                                <td>Processing</td>
                                            <%}%>
                                                <td class="verif">VERIFIED<img src="images/Search_Results_12.png" alt=""></td>
                                        </tr>
                                        <%});%>
                                </table>
                            </div>

                            <!-- pagination -->
                            <nav aria-label="Page navigation example" id="pagination">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="<%=paginate.href(true).prev%>">PREV</a></li>
                                    <%
						    			pages.forEach(function(page){
						    		%>
                                        <li class="page-item">
                                            <a class="page-link" href="<%=page.url%>">
                                                <%=page.number%>
                                            </a>
                                        </li>
                                    <%})%>
                                        <li class="page-item"><a class="page-link" href="<%=paginate.href().next%>">NEXT</a></li>
                                </ul>
                            </nav>
                        </div>

                        <div id="menu1" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Some content in menu 1.</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="right-content">
                <%- include ../menu/right_menu_content.ejs %>
            </div>
        </div>
        <div class="music-player has-player">
        </div>
    </div>

    <!-- <script src="js/jquery-3.2.1.min.js"></script> -->
    <!-- <script src="js/jquery-3.2.1.min.js"></script> -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="js/wait.js"></script>
    <script type="text/javascript" src="js/jquery.parallax.min.js"></script>

    <script type="text/javascript" src="js/jquery.tweet.js"></script>
    <script type="text/javascript" src="js/jquery.scrollTo.js"></script>

    <!-- <script type="text/javascript" src="js/camera.js"></script> -->

    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>

    <!-- Player -->

    <script type="text/javascript" src="js/player/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="https://connect.soundcloud.com/sdk.js"></script>
    <script type="text/javascript" src="js/player/amplify.min.js"></script>
    <script type="text/javascript" src="js/player/jquery.fullwidthAudioPlayer.min.js"></script>

    <!-- Custom Js -->

    <script type="text/javascript" src="js/custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $('.dropdown-menu li a').click(function() {
            $('#search').val($(this).text());
            $('#search-select').html($(this).text() + ' <i class="fa fa-chevron-down"></i>');
        });
        $(document).ready(function() {
            $('#<%=menu_index%>').addClass('active');
        });
    </script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var OneSignal = OneSignal || [];
        OneSignal.push(["init", {
            appId: "a1cb990b-49f3-4fc3-b74f-00e7b6d5933c", // encore.yez.vn
            // appId: "74322ac4-f9c4-4602-a25a-e71f099fb76e", // localhost
            autoRegister: true,
            safari_web_id: 'web.onesignal.auto.4979c8f7-1397-4bb3-8d4b-5aebacc6595c',
            welcomeNotification: {
                disable: true,
            },
            notifyButton: {
                enable: true,
                prenotify: true,
                position: 'bottom-left',
                size: 'medium',
                showCredit: false
            }
        }]);
    </script>
</body>

</html>
