<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
		<head>
			<meta charset="utf-8">
			<title>Encore demo</title>
			<!-- Mobile viewport optimized: h5bp.com/viewport -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
			<meta name="format-detection" content="telephone=no">
			<meta name="robots" content="noindex">
			<!-- Style Sheet-->
			<link rel="stylesheet" type="text/css" href="css/camera.css" media="screen">
			<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" media="screen">
			<link rel="stylesheet" type="text/css" href="css/jquery.fullwidthAudioPlayer.css" media="screen">
			<link rel="stylesheet" type="text/css" href="css/jquery.fullwidthAudioPlayer-responsive.css" media="screen">
			<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
			<link rel="stylesheet" type="text/css" href="/stylesheets/css/demo.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
			<!-- favicon -->
			<link rel="shortcut icon" href="/favicon.ico">

			<!--[if lt IE 9]>
					<script src="js/html5.js"></script>
			<![endif]-->

			<!-- Color Scheme -->
			<link rel="stylesheet" href="css/skin/scheme1.css" type="text/css">
			<script type="text/javascript">
				function searchSong() {
			          // Declare variables
			          var input, filter, table, tr, td, i;
			          input = document.getElementById("seachInput");
			          filter = input.value.toUpperCase();
			          table = document.getElementById("myTable");
			          tr = table.getElementsByTagName("tr");

			          // Loop through all table rows, and hide those who don't match the search query
			          for (i = 0; i < tr.length; i++) {
			            td = tr[i].getElementsByTagName("td")[1];
			            if (td) {
			              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
			                tr[i].style.display = "";
			              } else {
			                tr[i].style.display = "none";
			              }
			            }
			          }
			        }
			</script>

		</head>

		<!-- BODY -->

		<body id="body" class="has-slider">

			<!-- MUSIC PLAYER -->

			<div class="music-player has-player">
			</div>

			<!-- /MUSIC PLAYER -->

			<!-- HEADER -->

			<div class="top-wrapper big-wrapper skin-background-color2">
				<div class="top-wrapper-mask">
					<div class="center-wrapper">
						<div class="top-content-position">
							<div class="top-content skin-font-color3">
								<div class="top-content-up skin-border-color3">

									<!-- Logo  -->

									<!-- <a href="index.html"><img src="images/logo.png" class="logo" alt="logo"></a> -->
						           <%- include menu.ejs %>
								</div>

							</div>
						</div>
					</div>

					<!-- Slider  -->

					<div class="slider-wrapp">
						<div class="slider">

							<div data-src="images/slider/1.jpg">
								<div class="top-wrapper-mask">
									<div class="center-wrapper fadeFromBottom">
										<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">PREMIERE</a>
										<h1><a href="news_open_big_header.html" class="skin-font-color3 skin-color-hover1">Enjoy the world's <span class="bold">sounds</span></a></h1>
										<p class="skin-font-color3 font-size-16px">
										Mauris dapibus orci a dignissim congue. Morbi lacus ante, vestibulum et lectus vitae, semper laoreet lectus. Donec at dictum ipsum, eu venenatis nulla. Vivamus viverra nunc vitae neque euismod, eget pretium erat varius. Nullam eget diam tortor.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- /Slider  -->

				<!-- /bottom background - absolute -->

				<div class="bottom-background-position">
					<div class="bottom-background skin-background-color3"></div>
				</div>

				<!-- /bottom background - absolute -->

			</div>

			<!-- /HEADER -->

			<div class="center-wrapper main-content-wrapper">

				<!-- MAIN CONTENT -->

				<div class="three-fourth-more main-content-responsive">

					<!-- news -->

					<div class="main-content">
						<h2 class="skin-font-color5" style="margin-bottom: 50px;">Shortlist</h2>
								<div class="clearfix"></div>
								<!-- search -->
								<div class="main-content">
									<div class="skin-background-color7 search-box">
										<form method="post" action="#" class="search">
											<input id=seachInput type="text" onkeyup="searchSong()" class="skin-background-color2 skin-font-color7 font-size-14px font" value="Search for music" onblur="if(this.value == '') { this.value='Search for music'}" onfocus="if (this.value == 'Search for music') {this.value=''}" >
											<input type="submit" class="icon font-size-72px skin-font-color2 skin-color-hover4" value="r">
										</form>
									</div>
								</div>
								<div class="main-content">
									<table cellpadding="10" class=" table-fixed ">
							            <thead>
							            <tr style="float: left;width: 100%" class="skin-border-color4">
							                <td style="width: 5%;text-align: center;padding: 10px 0;">&nbsp;</td>
							                <td style="width: 30%;text-align: left; padding: 10px 0">Song Recording/Work</td>
							                <td style="width: 20%;text-align: center;padding: 10px 0;">From</td>
							                <td style="width: 10%;text-align: center;padding: 10px 0;">Territory</td>
							                <td style="width: 10%;text-align: center;padding: 10px 0;">Format/Right</td>
							                <td style="width: 10%;text-align: center;padding: 10px 0;">Peroid</td>
							                <td style="width: 15%;text-align: center;padding: 10px 0;">Action</td>
							            </tr>
							            </thead>
							            <tbody class="show_all" id="myTable">
							            <%
							            if(products){
							            products.forEach(function(product){
							            %>
						                <tr style="border-width: 0 0 1px 0;border-style: solid;border-color:#d6d6d6">
						                    <td class="listsong-media-player " style="width: 5%;padding: 10px 0;">
						                    	<a class="skin-font-color13 skin-color-hover1 fap-single-track" href="<%=product.url%>" title="<%= product.song_title%>" data-meta="#fap-meta-track1">
												<div class=" media-player-play-pause skin-border-color4 widget-sidebar-media-player-td">
													<span class="icon font-size-24px skin-font-color7">{</span></div>
												</a>
											</td>
						                    <td style="width: 30%;text-align: left;padding: 10px 0;margin-left: 10px;">
						                    	<span>Title: <%= product.song_title%></span><br/>
							                    <span>Address: <%= product.song_address%></span><br/>
							                    <span>Talent: <%= product.artist_name%></span><br/>
						                    </td>
						                    <td style="width: 20%;text-align: center;padding: 10px 0;"><%= product.owner_name%></td>
						                    <td style="width: 10%;text-align: left;padding: 10px 0;">
						                    	<select style="width: 100%; padding: 10px;height: 30px;margin-bottom: 19px;" name="" id="territories_<%=product.id%>">
							                    <option value="" selected="selected">Select Territories</option>
							                    <option value="United States">United States</option>
							                    <option value="United Kingdom">United Kingdom</option>
							                    <option value="Afghanistan">Afghanistan</option>
							                    <option value="Albania">Albania</option>
							                    <option value="Algeria">Algeria</option>
							                    <option value="American Samoa">American Samoa</option>
							                    <option value="Andorra">Andorra</option>
							                    <option value="Angola">Angola</option>
							                    <option value="Anguilla">Anguilla</option>
							                    <option value="Antarctica">Antarctica</option>
							                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
							                    <option value="Argentina">Argentina</option>
							                    <option value="Armenia">Armenia</option>
							                    <option value="Aruba">Aruba</option>
							                    <option value="Australia">Australia</option>
							                    <option value="Austria">Austria</option>
							                    <option value="Azerbaijan">Azerbaijan</option>
							                    <option value="Bahamas">Bahamas</option>
							                    <option value="Bahrain">Bahrain</option>
							                    <option value="Bangladesh">Bangladesh</option>
							                    <option value="Barbados">Barbados</option>
							                    <option value="Belarus">Belarus</option>
							                    <option value="Belgium">Belgium</option>
							                    <option value="Belize">Belize</option>
							                    <option value="Benin">Benin</option>
							                    <option value="Bermuda">Bermuda</option>
							                    <option value="Bhutan">Bhutan</option>
							                    <option value="Bolivia">Bolivia</option>
							                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
							                    <option value="Botswana">Botswana</option>
							                    <option value="Bouvet Island">Bouvet Island</option>
							                    <option value="Brazil">Brazil</option>
							                    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
							                    <option value="Brunei Darussalam">Brunei Darussalam</option>
							                    <option value="Bulgaria">Bulgaria</option>
							                    <option value="Burkina Faso">Burkina Faso</option>
							                    <option value="Burundi">Burundi</option>
							                    <option value="Cambodia">Cambodia</option>
							                    <option value="Cameroon">Cameroon</option>
							                    <option value="Canada">Canada</option>
							                    <option value="Cape Verde">Cape Verde</option>
							                    <option value="Cayman Islands">Cayman Islands</option>
							                    <option value="Central African Republic">Central African Republic</option>
							                    <option value="Chad">Chad</option>
							                    <option value="Chile">Chile</option>
							                    <option value="China">China</option>
							                    <option value="Christmas Island">Christmas Island</option>
							                    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
							                    <option value="Colombia">Colombia</option>
							                    <option value="Comoros">Comoros</option>
							                    <option value="Congo">Congo</option>
							                    <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
							                    <option value="Cook Islands">Cook Islands</option>
							                    <option value="Costa Rica">Costa Rica</option>
							                    <option value="Cote D'ivoire">Cote D'ivoire</option>
							                    <option value="Croatia">Croatia</option>
							                    <option value="Cuba">Cuba</option>
							                    <option value="Cyprus">Cyprus</option>
							                    <option value="Czech Republic">Czech Republic</option>
							                    <option value="Denmark">Denmark</option>
							                    <option value="Djibouti">Djibouti</option>
							                    <option value="Dominica">Dominica</option>
							                    <option value="Dominican Republic">Dominican Republic</option>
							                    <option value="Ecuador">Ecuador</option>
							                    <option value="Egypt">Egypt</option>
							                    <option value="El Salvador">El Salvador</option>
							                    <option value="Equatorial Guinea">Equatorial Guinea</option>
							                    <option value="Eritrea">Eritrea</option>
							                    <option value="Estonia">Estonia</option>
							                    <option value="Ethiopia">Ethiopia</option>
							                    <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
							                    <option value="Faroe Islands">Faroe Islands</option>
							                    <option value="Fiji">Fiji</option>
							                    <option value="Finland">Finland</option>
							                    <option value="France">France</option>
							                    <option value="French Guiana">French Guiana</option>
							                    <option value="French Polynesia">French Polynesia</option>
							                    <option value="French Southern Territories">French Southern Territories</option>
							                    <option value="Gabon">Gabon</option>
							                    <option value="Gambia">Gambia</option>
							                    <option value="Georgia">Georgia</option>
							                    <option value="Germany">Germany</option>
							                    <option value="Ghana">Ghana</option>
							                    <option value="Gibraltar">Gibraltar</option>
							                    <option value="Greece">Greece</option>
							                    <option value="Greenland">Greenland</option>
							                    <option value="Grenada">Grenada</option>
							                    <option value="Guadeloupe">Guadeloupe</option>
							                    <option value="Guam">Guam</option>
							                    <option value="Guatemala">Guatemala</option>
							                    <option value="Guinea">Guinea</option>
							                    <option value="Guinea-bissau">Guinea-bissau</option>
							                    <option value="Guyana">Guyana</option>
							                    <option value="Haiti">Haiti</option>
							                    <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
							                    <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
							                    <option value="Honduras">Honduras</option>
							                    <option value="Hong Kong">Hong Kong</option>
							                    <option value="Hungary">Hungary</option>
							                    <option value="Iceland">Iceland</option>
							                    <option value="India">India</option>
							                    <option value="Indonesia">Indonesia</option>
							                    <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
							                    <option value="Iraq">Iraq</option>
							                    <option value="Ireland">Ireland</option>
							                    <option value="Israel">Israel</option>
							                    <option value="Italy">Italy</option>
							                    <option value="Jamaica">Jamaica</option>
							                    <option value="Japan">Japan</option>
							                    <option value="Jordan">Jordan</option>
							                    <option value="Kazakhstan">Kazakhstan</option>
							                    <option value="Kenya">Kenya</option>
							                    <option value="Kiribati">Kiribati</option>
							                    <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
							                    <option value="Korea, Republic of">Korea, Republic of</option>
							                    <option value="Kuwait">Kuwait</option>
							                    <option value="Kyrgyzstan">Kyrgyzstan</option>
							                    <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
							                    <option value="Latvia">Latvia</option>
							                    <option value="Lebanon">Lebanon</option>
							                    <option value="Lesotho">Lesotho</option>
							                    <option value="Liberia">Liberia</option>
							                    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
							                    <option value="Liechtenstein">Liechtenstein</option>
							                    <option value="Lithuania">Lithuania</option>
							                    <option value="Luxembourg">Luxembourg</option>
							                    <option value="Macao">Macao</option>
							                    <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
							                    <option value="Madagascar">Madagascar</option>
							                    <option value="Malawi">Malawi</option>
							                    <option value="Malaysia">Malaysia</option>
							                    <option value="Maldives">Maldives</option>
							                    <option value="Mali">Mali</option>
							                    <option value="Malta">Malta</option>
							                    <option value="Marshall Islands">Marshall Islands</option>
							                    <option value="Martinique">Martinique</option>
							                    <option value="Mauritania">Mauritania</option>
							                    <option value="Mauritius">Mauritius</option>
							                    <option value="Mayotte">Mayotte</option>
							                    <option value="Mexico">Mexico</option>
							                    <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
							                    <option value="Moldova, Republic of">Moldova, Republic of</option>
							                    <option value="Monaco">Monaco</option>
							                    <option value="Mongolia">Mongolia</option>
							                    <option value="Montserrat">Montserrat</option>
							                    <option value="Morocco">Morocco</option>
							                    <option value="Mozambique">Mozambique</option>
							                    <option value="Myanmar">Myanmar</option>
							                    <option value="Namibia">Namibia</option>
							                    <option value="Nauru">Nauru</option>
							                    <option value="Nepal">Nepal</option>
							                    <option value="Netherlands">Netherlands</option>
							                    <option value="Netherlands Antilles">Netherlands Antilles</option>
							                    <option value="New Caledonia">New Caledonia</option>
							                    <option value="New Zealand">New Zealand</option>
							                    <option value="Nicaragua">Nicaragua</option>
							                    <option value="Niger">Niger</option>
							                    <option value="Nigeria">Nigeria</option>
							                    <option value="Niue">Niue</option>
							                    <option value="Norfolk Island">Norfolk Island</option>
							                    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
							                    <option value="Norway">Norway</option>
							                    <option value="Oman">Oman</option>
							                    <option value="Pakistan">Pakistan</option>
							                    <option value="Palau">Palau</option>
							                    <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
							                    <option value="Panama">Panama</option>
							                    <option value="Papua New Guinea">Papua New Guinea</option>
							                    <option value="Paraguay">Paraguay</option>
							                    <option value="Peru">Peru</option>
							                    <option value="Philippines">Philippines</option>
							                    <option value="Pitcairn">Pitcairn</option>
							                    <option value="Poland">Poland</option>
							                    <option value="Portugal">Portugal</option>
							                    <option value="Puerto Rico">Puerto Rico</option>
							                    <option value="Qatar">Qatar</option>
							                    <option value="Reunion">Reunion</option>
							                    <option value="Romania">Romania</option>
							                    <option value="Russian Federation">Russian Federation</option>
							                    <option value="Rwanda">Rwanda</option>
							                    <option value="Saint Helena">Saint Helena</option>
							                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
							                    <option value="Saint Lucia">Saint Lucia</option>
							                    <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
							                    <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
							                    <option value="Samoa">Samoa</option>
							                    <option value="San Marino">San Marino</option>
							                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
							                    <option value="Saudi Arabia">Saudi Arabia</option>
							                    <option value="Senegal">Senegal</option>
							                    <option value="Serbia and Montenegro">Serbia and Montenegro</option>
							                    <option value="Seychelles">Seychelles</option>
							                    <option value="Sierra Leone">Sierra Leone</option>
							                    <option value="Singapore">Singapore</option>
							                    <option value="Slovakia">Slovakia</option>
							                    <option value="Slovenia">Slovenia</option>
							                    <option value="Solomon Islands">Solomon Islands</option>
							                    <option value="Somalia">Somalia</option>
							                    <option value="South Africa">South Africa</option>
							                    <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
							                    <option value="Spain">Spain</option>
							                    <option value="Sri Lanka">Sri Lanka</option>
							                    <option value="Sudan">Sudan</option>
							                    <option value="Suriname">Suriname</option>
							                    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
							                    <option value="Swaziland">Swaziland</option>
							                    <option value="Sweden">Sweden</option>
							                    <option value="Switzerland">Switzerland</option>
							                    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
							                    <option value="Taiwan, Province of China">Taiwan, Province of China</option>
							                    <option value="Tajikistan">Tajikistan</option>
							                    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
							                    <option value="Thailand">Thailand</option>
							                    <option value="Timor-leste">Timor-leste</option>
							                    <option value="Togo">Togo</option>
							                    <option value="Tokelau">Tokelau</option>
							                    <option value="Tonga">Tonga</option>
							                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
							                    <option value="Tunisia">Tunisia</option>
							                    <option value="Turkey">Turkey</option>
							                    <option value="Turkmenistan">Turkmenistan</option>
							                    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
							                    <option value="Tuvalu">Tuvalu</option>
							                    <option value="Uganda">Uganda</option>
							                    <option value="Ukraine">Ukraine</option>
							                    <option value="United Arab Emirates">United Arab Emirates</option>
							                    <option value="United Kingdom">United Kingdom</option>
							                    <option value="United States">United States</option>
							                    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
							                    <option value="Uruguay">Uruguay</option>
							                    <option value="Uzbekistan">Uzbekistan</option>
							                    <option value="Vanuatu">Vanuatu</option>
							                    <option value="Venezuela">Venezuela</option>
							                    <option value="Viet Nam">Viet Nam</option>
							                    <option value="Virgin Islands, British">Virgin Islands, British</option>
							                    <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
							                    <option value="Wallis and Futuna">Wallis and Futuna</option>
							                    <option value="Western Sahara">Western Sahara</option>
							                    <option value="Yemen">Yemen</option>
							                    <option value="Zambia">Zambia</option>
							                    <option value="Zimbabwe">Zimbabwe</option>
							                </select>
						                    </td>
							                <td style="width: 10%;text-align: center;padding: 10px 0;">
							                	<%if(product.type==1){%>
							                		<select style="padding: 10px;height: 30px;margin-bottom: 19px;" name="" id="license_right_<%=product.id%>">
									                    <option value="Digital" selected="selected">Digital</option>
									                    <option value="Physical">Physical</option>
									                 </select>
							                	<%}else{%>
							                		<select style="padding: 10px;height: 30px;margin-bottom: 19px;" name="" id="license_right_<%=product.id%>">
									                    <option value="Digital" selected="selected">Reproduction/Mechanical</option>
									                    <option value="Synchronisation">Synchronisation</option>
									                    <option value="Adaptations">Adaptations</option>
									                    <option value="Public Performances">Public Performances</option>
									                    <option value="Communication to Public via wired or wireless means">Communication to Public via wired or wireless means</option>
									                    <option value="Broadcasting">Broadcasting</option>
									                 </select>
							                	<%}%>
							                </td>
							                <td style="width: 10%;text-align: center;padding: 10px 0;">
							                	<input id="peroid_<%=product.id%>" class="input-form" type="number" required="true" id="peroid" name="peroid" placeholder="peroid" />
							                </td>
											<td style="width: 10%;text-align: center;padding: 10px 0;">
												<input style="margin-left: 40px;" type="submit" id="<%=product.id%>" value="License" class="button-normal skin-background-color1 skin-font-color3 skin-background-hover3" onclick="license_song_work(this)">
											</td>
						                </tr>
							            <% })} %>
							            </tbody>

							        </table>
							</div>

					</div>

					<!-- /videos -->

				</div>

				<!-- /MAIN CONTENT -->

				<!-- SIDEBAR -->



				</div>

				<!-- /SIDEBAR -->

			</div>

			<div class="clearfix"></div>

			<!-- BOTTOM -->

			<div class="bottom skin-background-color2">
				<div class="center-wrapper widget-bottom-contact-us skin-font-color10">

					<!-- Bottom widget place #1 -->

					<div class="one-fourth regular">
						<h2 class="skin-font-color3">Contact <span class="bold">us</span></h2>
						<p>
						Ellentesque eget mi nulla, ut ultrices enim. Etiam id erat bibendum metus tristique
						vestibulum sit amet ac mauris. Suspendisse eget nibh lectus.
						</p>
						<ul>
							<li><span class="skin-font-color1">Address:</span> New york</li>
							<li><span class="skin-font-color1">Email:</span> info@gozawi.com</li>
							<li><span class="skin-font-color1">Phone:</span> +12 323 242 423</li>
						</ul>
					</div>

					<!-- Bottom widget place /#1 -->

					<!-- Bottom widget place #2 -->

					<div class="one-fourth widget-bottom-latest-posts regular">
						<h2 class="skin-font-color3">Latest <span class="bold">posts</span></h2>
						<ul>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Electronic music</a></li>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Behind the stage</a></li>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Rock party in Warsaw</a></li>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Dubstep music in Norway</a></li>
							<li><a href="#" class="skin-font-color10 skin-color-hover1">Place for new album promo</a></li>
						</ul>
					</div>

					<!-- Bottom widget place /#2 -->

					<!-- Bottom widget place #3 -->

					<div class="one-fourth widget-bottom-tags regular">
						<h2 class="skin-font-color3">Tag <span class="bold">cloud</span></h2>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">car show</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">electronic music</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">party</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">promo albums</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">summer rock</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">festival</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">stage</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">dubstep</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">city</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">tickets</a>
						<a href="#" class="button-small skin-background-color1 skin-font-color3 skin-background-hover3">concerts</a>
					</div>

					<!-- Bottom widget place /#3 -->

					<!-- Bottom widget place #4 -->

					<div class="one-fourth widget-bottom-flickr regular last">
						<h2 class="skin-font-color3">Flickr <span class="bold">widget</span></h2>
						<ul class="flickr"></ul>
					</div>

					<!-- Bottom widget place /#4 -->

				</div>

				<!-- Go top - absolute  -->

				<div class="go-top skin-border-color5 skin-border-hover1">
					<a href="#" onClick="ScrollTo('body')"><img src="images/go-top.png" alt="go-top"></a>
				</div>

				<!-- Go top - /absolute  -->

			</div>

			<!-- /BOTTOM -->

			<div class="clearfix"></div>

			<!-- FOOTER -->

			<div class="footer skin-background-color11">
				<div class="center-wrapper skin-font-color12 regular">
					<span>© 2017 - music demo blockchain</span>
					<ul>
						<li><a href="#" class="skin-font-color12 skin-color-hover1">terms of use </a> / </li>
						<li><a href="#" class="skin-font-color12 skin-color-hover1">cookies </a> / </li>
						<li><a href="#" class="skin-font-color12 skin-color-hover1">job offers </a> / </li>
						<li><a href="#" class="skin-font-color12 skin-color-hover1">contact </a></li>
					</ul>
				</div>
			</div>

			<div class="loading-icon">
	       	 	<img src="/images/LoaderIcon.gif" alt="">
	        	<label class="loading-text" id="loading_text">Uploading file...</label>
	    	</div>
			<!-- /FOOTER -->

			<!-- ATTACHMENTS -->

			<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="js/jquery.migrate-1.2.1.min.js"></script>
			<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
			<script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
			<script type="text/javascript" src="js/wait.js"></script>
			<script type="text/javascript" src="js/jquery.parallax.min.js"></script>

			<script type="text/javascript" src="js/jquery.tweet.js"></script>
			<script type="text/javascript" src="js/jquery.scrollTo.js"></script>


			<!-- <script type="text/javascript" src="js/camera.js"></script> -->

			<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
			<script type="text/javascript" src="js/jquery-ui.js"></script>

			<!-- Player -->


			<script type="text/javascript" src="js/player/soundmanager2-nodebug-jsmin.js"></script>
			<script type="text/javascript" src="https://connect.soundcloud.com/sdk.js"></script>
			<script type="text/javascript" src="js/player/amplify.min.js"></script>
			<script type="text/javascript" src="js/player/jquery.fullwidthAudioPlayer.min.js"></script>

			<!-- Custom Js -->

			<script type="text/javascript" src="js/custom.js"></script>
			<script type="text/javascript">
				function license_song_work(element){
					var carts = <%- JSON.stringify(session.cart) %>;
					var session = <%- JSON.stringify(session) %>;
					if(!session.passport){
						alert('login please');
						return;
					}
					var cart = carts.items[element.id];
					var territories_select = document.getElementById("territories_"+cart.id);
					var ter = territories_select.options[territories_select.selectedIndex].value;

					var right_select = document.getElementById("license_right_"+cart.id);
					var right = right_select.options[right_select.selectedIndex].value;

					var peroid = document.getElementById("peroid_"+cart.id).value;
					if(ter.length == 0){
						alert("Please select territories");
						return;
					}
					if(right.length == 0){
						alert("Please select right");
						return;
					}
					if(peroid.length == 0){
						alert("Please enter peroid");
						return;
					}
					console.log(cart);
					if(cart.type ==1){

					}else{
						
					}
				}
            </script>
			<!-- /ATTACHMENTS -->

		</body>

		<!-- /BODY -->

</html>
