<div class="col-md-12" id="my_artist" style="margin-top: 20px; margin-bottom: 20px;">
	<div class="search_left">
		<div class="title col-md-7">
			<h4>My Composers</h4>
		</div>
	</div>
	<div class="search_right sort">
		<div class="filter col-md-4 col-xs-6 ">
			<form action="" onsubmit="return false;">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  		SORT BY: A-Z
				   <i class="fa fa-chevron-down"></i>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dropdown-ul">
				    <li class="has-child">
				    	<a href="#" onclick="sortComposer(1);">A-Z</a>
				    	<a href="#" onclick="sortComposer(0);">Z-A</a>
				    </li>
				  </ul>
				</div>
			</form>
	  	</div>
		<div class="col-md-5 col-xs-6 tot_talent">
			<a class="new_talent" href="/create-talent?type=composer">
  				<button class="btn_search_results btn_results btn btn-default dropdown-toggle" type="submit">
  				NEW COMPOSER</button>
  			</a>
		</div>
	</div>
</div>
<div class='clear'></div>
<%
var c = 0;
composers.forEach(function(composer){
c++;
%>
	<div class="item-content">
		<div class="thumbnail">
         <%if(composer.artistsPictures){%>
            <div class="image-item-home-logged">
               <img src="<%=composer.artistsPictures ? composer.artistsPictures : 'images/song_default.jpg'%>" alt="..." width="250" height="250">
            </div>

         <%}else{%>
         <div class="image-item-home-logged">
         	<a href="/my-profile?id=<%=composer._id%>">
            	<img src="images/image_15.png" alt="..." width="250" height="250">
            </a>
         </div>
         <%}%>
            <div class="caption">
            	<%if(composer.artistNonRomanizedName == undefined || composer.artistNonRomanizedName.length == 0){%>
            		<h4><a href="/my-profile?id=<%=composer._id%>" class="person-title"><%=composer.artistProfessionName%></a></h4>
            	<%}else{%>
            		<h4><a href="/my-profile?id=<%=composer._id%>" class="person-title"><%=composer.artistProfessionName%></br>(<%=composer.artistNonRomanizedName.trim()%>)</a></h4>
            	<%}%>
            </div>
         </div>
	</div>
	<%if(c % 5 == 0) {%>
		<div class="clear"></div>
	<%}%>
<%});%>
