<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REGISTRATION</title>
    <link rel="stylesheet" href="css/common/bootstrap.min.css">
    <link rel="stylesheet" href="css/common/font-awesome.min.css">
    <link rel="stylesheet" href="css/common/common.css">
    <link rel="stylesheet" href="css/admin_user/admin_user.css">
    <link rel="stylesheet" href="css/mass_registration/mas_register.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/mass_registration/nav-wizard.bootstrap.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div class="song">
        <%- include ../menu/nor_header.ejs %>
    </div>
    <div class="home_content">
        <div class="center_home">
            <div class="left_content col-md-10 col-sm-9">
                <div class="wrap_content" id="tab-content">
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active search_results">
                            <div class="search_left">
                                <h3>REGISTRATION</h3>
                            </div>
                            <div class="clear"></div>
                            <div class="upload">
                                <div class="song_name" id="song_file_name"></div>
                                <div class="upload-right" id="progress"></div>
                                <div class="clear"></div>
                                <div class="tbar" style="display: none;">
                                    <div id="myBar" class="uploading" style="width: 0;"></div>
                                </div>
                            </div>
                            <ul class="nav nav-pills nav-wizard">
                                <li><a href="/mass-registration">1. Import templates</a></li>
                                <li><a href="/mass-registration-csv" >2. Export data</a></li>
                                <li><a href="#" >3. Upload media file</a></li>
                                <li class="active"><a href="/mass-registration-preview-list" >4. Preview</a></li>
                                <li><a href="/mass-registration-deploy-login" >5. Deploy</a></li>
                            </ul>
                            <div class="table-responsive" id="table_search">
                                <table class="table table-curved">
                                    <tr>
                                        <td>
                                            <p>#</p>
                                        </td>
                                        <td>
                                            <p>Batch ID</p>
                                        </td>
                                        <td>
                                            <p>Album Name</p>
                                        </td>
                                        <td>
                                            <p>Status</p>
                                        </td>
                                        <td>
                                            <p>User ID</p>
                                        </td>
                                        <td>
                                            <p>Registered Date</p>
                                        </td>
                                        <td>
                                            <p>Action</p>
                                        </td>
                                    </tr>
                                    <%
					    		 	var i=0;
					    		 	merkles.forEach(function(merkle){
					    		 		i++;
					    		 	%>
                                        <tr>
                                            <td>
                                                <a href="/admin-mass-migration-detail?id=<%=merkle._id%>">
                                                    <p class="">
                                                        <%=i%>
                                                    </p>
                                                </a>
                                            </td>
                                            <td>
                                                <p class="crop"><%=merkle.albumName%></p>
                                            </td>
                                            <td>
                                                <p class="crop"><%=merkle.batchId%></p>
                                            </td>
                                            <td>
                                                <p class="crop">Waiting review</p>
                                            </td>
                                        <%if(merkle.userRefer){%>
                                            <td>
                                                <p>
                                                    <%=merkle.userRefer.userAccountName%>
                                                </p>
                                            </td>
                                        <%}else{%>
                                            <td>
                                                <p>Unknown</p>
                                            </td>
                                        <%}%>
                                            <td>
                                                <p>
                                                    <%=merkle.dateRegistration%>
                                                </p>
                                            </td>
                                            <%if(merkle.blockHash == undefined || merkle.blockHash.length == 0) {%>
                                                <td>
                                                    <a href="/mass-registration-preview-detail?id=<%=merkle._id%>" >
                                                        <button class="btn_mass_migration">
                                                            Preview
                                                        </button>
                                                    </a>
                                                    <br/>
                                                    <br/>
                                                    <a href="javascript:void(0);" >
                                                        <button class="btn_mass_migration_warning" onclick="removeBatchID(<%=merkle._id%>,<%=merkle.batchId%>)">
                                                            Remove
                                                        </button>
                                                    </a>
                                                </td>
                                            <%}else{%>
                                                <td>
                                                    <p></p>
                                                </td>
                                            <%}%>
                                        </tr>
                                        <%});%>
                                </table>
                            </div>

                            <!-- pagination -->
                            <nav aria-label="Page navigation example" id="pagination">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="<%=paginate.href(true).prev%>">PREV</a></li>
                                    <%
						    			pages.forEach(function(page){
						    		%>
                                        <li class="page-item">
                                            <a class="page-link" href="<%=page.url%>">
                                                <%=page.number%>
                                            </a>
                                        </li>
                                    <%})%>
                                        <li class="page-item"><a class="page-link" href="<%=paginate.href().next%>">NEXT</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <dir class="right-content">
                <%- include ../menu/right_menu_content.ejs %>
            </dir>
        </div>
        <div class="music-player has-player">
        </div>
    </div>
    <script>
        $('.dropdown-menu li a').click(function() {
            $('#search').val($(this).text());
            $('#search-select').html($(this).text() + ' <i class="fa fa-chevron-down"></i>');
        });
        $(document).ready(function() {
            $('#<%=menu_index%>').addClass('active');
        });
    </script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var OneSignal = OneSignal || [];
        OneSignal.push(["init", {
            appId: "a1cb990b-49f3-4fc3-b74f-00e7b6d5933c", // encore.yez.vn
            // appId: "74322ac4-f9c4-4602-a25a-e71f099fb76e", // localhost
            autoRegister: true,
            safari_web_id: 'web.onesignal.auto.4979c8f7-1397-4bb3-8d4b-5aebacc6595c',
            welcomeNotification: {
                disable: true,
            },
            notifyButton: {
                enable: true,
                prenotify: true,
                position: 'bottom-left',
                size: 'medium',
                showCredit: false
            }
        }]);
    </script>
    <script type="text/javascript" src="javascripts/mass.js"></script>
    <script type="text/javascript">
        function deploy_migration(id) {
            Mass.admin_deploy_mass_registration(id);
        }
    </script>
    <script type="text/javascript">
        var progress;
        var index = 0;
        var filelist = [];
        var failedlist = [];

        function loading(txt){
            $('.load').html(txt);
            $('#loading').show();
        }

        function hide(){
           $('#loading').hide();
        }

        function RemoveSong(id){
            var html = '';
            html += '<p id="message"><strong> Are you sure? </strong></p>';
            var dialog = bootbox.dialog({
                title: "Remove",
                message: html,
                closeButton: false,
                buttons: {
                    cancel: {
                         label: '<i class="fa fa-times"></i> Cancel',
                         className: 'btn-default',
                         callback: () => {
                         }
                     },
                    continute: {
                      label: '<i class="fa fa-check"></i> Remove',
                      className: 'btn-danger',
                      callback: () => {
                        window.location.href='/mass-registration-deploy-login?action=delete&song_id='+id;
                      }
                  }            
              }
            });
            autocomplete(document.getElementById("email_partner"), document.getElementById('account_id'), document.getElementById('message'), document.getElementById('private_key'), document.getElementById('voucher_code'));//for singer 
         }

        function askingForRegisterWallet(){
            var html = '<p>You have to complete register account before deploy registration</p>'; 
            var dialog = bootbox.dialog({
                title: "Complete Registration",
                message: html,
                closeButton: false,
                buttons: {
                    cancel: {
                         label: '<i class="fa fa-times"></i> Cancel',
                         className: 'btn-default',
                         callback: () => {
                         }
                     },
                    continute: {
                      label: '<i class="fa fa-check"></i> Continute',
                      className: 'btn-danger',
                      callback: () => {
                        window.location.href = '/mass-sign-up-step-1'
                      }
                  }            
              }
            });
        }

        function removeBatchID(id, batch_id){
            var html = '';
            html += '<p id="message"><strong> Are you sure delete: <label style="">'+id+'<label></strong></p>';
            html+='<p id="message_error" class="bg-danger" ></p>';
            html+='<p id="batch_id" style="margin-bottom: 1px;"><strong>Enter Batch ID:</strong></p>';
            html+='<input class="bootbox-input bootbox-input-email form-control" autocomplete="off" type="text" id="song_name"'
            var dialog = bootbox.dialog({
                title: "Remove",
                message: html,
                closeButton: false,
                buttons: {
                    cancel: {
                         label: '<i class="fa fa-times"></i> Cancel',
                         className: 'btn-default',
                         callback: () => {
                         }
                     },
                    continute: {
                      label: '<i class="fa fa-check"></i> Remove',
                      className: 'btn-danger',
                      callback: () => {
                        var batch_id = $('#batch_id').value;
                        var message_error = $('#message_error').value;
                        if(batch_id == undefined || batch_id.length ==0){
                            document.getElementById('message_error').innerHTML = "Please Enter Batch ID.";
                            return false;
                        }

                      }
                  }            
              }
            });
         }    

        function openDialog() {
            var html = '<p id="message_error" class="bg-danger" ></p>'; 
            html += '<form class="bootbox-form" ><p id="message"><strong> Account ID(*)</strong></p><input class="bootbox-input bootbox-input-email form-control" autocomplete="off" type="text" id ="account_id" name ="account_id" background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"><br/>';
            // html += '<p id="message"><strong> Price of Registration</strong></p><input class="bootbox-input bootbox-input-email form-control" autocomplete="off" type="text" id ="price_of" value="$20" disabled="true" background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"><br/>';
            html += '<p id="message"><strong> Authorized ID(*)</strong></p><input class="bootbox-input bootbox-input-email form-control" autocomplete="on" type="text" id ="private_key"background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"></form>';
            
            var dialog = bootbox.dialog({
                title: "Deploy songs",
                message: html,
                closeButton: false,
                buttons: {
                    cancel: {
                         label: '<i class="fa fa-times"></i> Cancel',
                         className: 'btn-default',
                         callback: () => {
                         }
                     },
                    continute: {
                      label: '<i class="fa fa-check"></i> Deploy',
                      className: 'btn-danger',
                      callback: () => {
                        let privateKey = document.getElementById('private_key').value;
                        let pricePay = 20 * 100;
                        $('.load').html('Processing...');
                        $('#loading').show();
                        Mass.save_mass_registration(privateKey, showmessage);
                        // Mass.checking_voucher_if_any(openStripe);
                        return false;
                      }
                  }            
              }
            });
        }

        function showmessage() {
            bootbox.hideAll();
            bootbox.alert({
                title: "Congratulation",
                message: "Successfully commited to the blockchain. Wait for email to confirm deployment",
                callback: function () {
                    window.location.href = '/mass-registration-history';
                }
            })
        }

        var priceOf = 0;
        function openStripe(payPrice) {
            priceOf = payPrice;
            var checkout = StripeCheckout.configure({
                 key: 'pk_test_ywev9rlXeo2eMcddrx8aSgVW',
                 token: onReceiveToken,
                 image: '/images/logo-spx-stripe.png',
                 name: '<%=session.passport.user ? session.passport.user.email : ''%>',
                 description: 'Payment to registration song',
                 amount: payPrice,
                 billingAddress: true
            });

            checkout.open();
        }

        function onReceiveToken(token, args) {
            console.log(token.id);
            if (priceOf == 0) {
               alert('Could not payment');
               return;
            }
            Mass.regis_charge(token.id, priceOf);
            sk = '';
        }
    </script>
</body>

</html>
