<div class="header">
	<div class="col-md-3 col-sm-3"></div>
	<div class="col-md-6 col-sm-6">
		<div class="logo_home">
			<img src="images/logo_home.png" alt="">
		</div>
		<div class="search">
				<form action="/search" method="get">
					<input type="hidden" name="search" id="search">
					<div class="input-group" id="group">
						<input type="text" style="z-index:0"  <%if( typeof key!='undefined'){%> value="<%=key%> <%}%>"  name="key" class="form-control" placeholder="SEARCH" id="search-input">
						<input type="hidden" style="z-index:0"  name="type" id="search-type" value="song">
						<div class="input-group-btn"> 
							<button type="submit" style="z-index:0" class="btn btn-default" aria-label="Help" id="search-icon"></button> 
						</div>
					</div>
				</form>
			</div>
	</div>
		<div class="col-md-3 col-sm-3 col-xs-12 header_right">
			<div class="col-md-6 col-sm-12 col-xs-6">
			</div>
			<div class="col-md-6 col-sm-12 col-xs-6 user_header">
				<div class="log_header">
					<%if (session.passport.user.userIsOwner){%>
						<input type="text" hidden="true" readonly="true" name="accountaddress_session" id="accountaddress_session" value="<%=session.passport.user.userWalletAddress%>">
					<%}else{%>
						<input type="text" hidden="true" readonly="true" name="accountaddress_session" id="accountaddress_session" value="<%=session.passport.user.userManagerWalletAddress%>">
					<%}%>
					<input type="text" hidden="true" readonly="true" name="user_id_header" id="user_id_header" value="<%=session.passport.user._id%>">
					<input type="text" hidden="true" readonly="true" name="Owner" id="Owner" value="<%=session.passport.user.userIsOwner%>">
					
					<dir class="header-text-overflow">
						<a href="javascripts: return void(0);"><span><%=session.passport.user.userFullName%>&nbsp;</a>
					</dir>
				</div>			
			</div>
		</div>
	<div class="clear"></div>
	<!-- menu mobile -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">HOME</a></li>
	        <li><a href="#">SIGN IN</a></li>
	        <li><a href="#">SIGN UP</a></li>
	        <li><a href="#">VERYFY</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>

<script>
	function search_click() {
		w = $(window).width();
		if( w > 768 ){
			$('.search1').on('click',function(e){
				e.preventDefault();
				if( $(this).attr('data-click-state') == 1) {
					$(this).attr('data-click-state', 0);
					$('#a').removeClass('search2').addClass("search2_active");
				}
				else {
					$(this).attr('data-click-state', 1);
					$('#a').addClass('search2').removeClass("search2_active");
				}
			});
		}
		else {
			$('#a').removeClass('search2').addClass("search2_active");
		}
	}

	$(window).resize(function(){
		search_click();
	});

	$( window ).on( "orientationchange", function( event ) {
		search_click();
	});

	$(document).ready(function(){
		search_click();
	});
</script>